*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.phone{
    width:380px;
    padding:25px;
    border-radius:35px;
    background:#444;
    box-shadow:0 0 30px black;
}

.screen{
    background:#9bbc0f;
    border:10px solid #222;
    padding:15px;
}

.score{
    font-size:22px;
    margin-bottom:10px;
    font-weight:bold;
}

canvas{
    background:#8bac0f;
    display:block;
    margin:auto;
}

.controls{
    margin-top:20px;
    text-align:center;
}

.controls button{
    width:70px;
    height:50px;
    margin:5px;
    font-size:22px;
    cursor:pointer;
}
